* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 110px;
  width: 100%;
  max-width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 30px;
}

.menu {
  display: none;
}

h1 {
  font-size: 40px;
  color: #152938;
}
.setup {
  display: flex;
  gap: 16px;
}

.restart {
  width: 127px;
  height: 50px;
  font-weight: 700;
  font-size: 20px;
  color: #fcfcfc;
  background-color: #fda214;
  border: 0;
  outline: 0;
  border-radius: 20px;
  cursor: pointer;
}

.new_game {
  width: 140px;
  height: 50px;
  font-weight: 700;
  font-size: 20px;
  color: #304859;
  background-color: #dfe7ec;
  border: 0;
  outline: 0;
  border-radius: 20px;
  cursor: pointer;
}

.circle_container {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  gap: 20px;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: white;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #304859;
  cursor: pointer;
}

.player-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  padding: 0px 30px;
}

.player {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  border-radius: 8px;
  height: 50px;
  background-color: #dfe7ec;
  color: #7191a5;
}

.score {
  width: 21px;
  size: 32px;
  color: #304859;
}

@media (max-width: 768px) {
  .player {
    width: 164px;
    height: 80px;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
}

@media (max-width: 530px) {
  .player {
    width: 64px;
    height: 70px;
    align-items: center;
  }

  .layer {
    display: none;
  }

  .score {
    font-size: 24px;
    padding: 2px;
  }

  .setup {
    display: none;
  }

  .menu {
    display: block;
    width: 78px;
    height: 40px;
    color: #fcfcfc;
    background-color: #fda214;
    border-radius: 26px;
    border: none;
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
  }

  .circle_container {
    grid-template-columns: 55px 55px 55px 55px;
    gap: 12px;
    font-size: 35px;
    color: white;
  }

  .circle {
    width: 55px;
    height: 55px;
  }

  .container {
    gap: 70px;
  }
}
